# More on words
* Sentence tokenizing
* Distinctive language
* Parsing: quited lines, parentheticals, paragraps. exciamations
* Pandas: Data Frame

In [5]:
import nltk
import collections
import pandas as pd

In [6]:
moonstone=open('moonstone.md').read()

In [7]:
len(moonstone)

1072271

In [8]:
moonParts=moonstone.split('\n## ')

In [9]:
len(moonParts)

13

In [10]:
for part in moonParts:
    print(part[:50])

---
layout: narrative
title: "The Moonstone"
autho
Prologue

The Storming of Seringapatam (1799)

Ext
First Period

THE LOSS OF THE DIAMOND (1848)

The
Second Period

THE DISCOVERY OF THE TRUTH (1848-18
First Narrative

Contributed by MISS CLACK; niece
Second Narrative

Contributed by MATHEW BRUFF, Sol
Third Narrative

Contributed by FRANKLIN BLAKE

##
Fourth Narrative

Extracted from the Journal of EZ
Fifth Narrative

The Story Resumed by FRANKLIN BLA
Sixth Narrative

Contributed by SERGEANT CUFF

###
Seventh Narrative

In a Letter from MR. CANDY

Fri
Eighth Narrative

Contributed by GABRIEL BETTEREDG
Epilogue

THE FINDING OF THE DIAMOND

### Chapter

In [11]:
bet,clack,bruff,blake=[moonParts[i] for i in [2,4,5,6]]

In [12]:
[part[:200] for part in [bet,clack,bruff,blake]]

['First Period\n\nTHE LOSS OF THE DIAMOND (1848)\n\nThe events related by GABRIEL BETTEREDGE, house-steward in the service\nof JULIA, LADY VERINDER.\n\n### Chapter I\n\nIn the first part of ROBINSON CRUSOE, at p',
 'First Narrative\n\nContributed by MISS CLACK; niece of the late SIR JOHN VERINDER\n\n### Chapter I\n\nI am indebted to my dear parents (both now in heaven) for having had\nhabits of order and regularity inst',
 'Second Narrative\n\nContributed by MATHEW BRUFF, Solicitor, of Gray’s Inn Square\n\n### Chapter I\n\nMy fair friend, Miss Clack, having laid down the pen, there are two\nreasons for my taking it up next, in ',
 'Third Narrative\n\nContributed by FRANKLIN BLAKE\n\n### Chapter I\n\nIn the spring of the year eighteen hundred and forty-nine I was\nwandering in the East, and had then recently altered the travelling\nplans']

In [13]:
allNarrators=[bet,clack,bruff,blake]

In [14]:
import nltk
allTokens=[nltk.word_tokenize(narr.lower().replace('-',' ').replace('*',' ')) for narr in allNarrators]

In [15]:
# first 20 tokens in Betteredge's narrative
collections.Counter(allTokens[0][:50]).most_common(10)

[('the', 5),
 (',', 4),
 ('of', 3),
 ('#', 3),
 ('first', 2),
 ('in', 2),
 ('period', 1),
 ('loss', 1),
 ('diamond', 1),
 ('(', 1)]

In [16]:
len(allTokens)  # 4 narrators

4

In [17]:
narrCounts=[]
for narr in allTokens:
    narrCounts.append(collections.Counter(narr))

In [18]:
len(narrCounts),type(narrCounts[0])

(4, collections.Counter)

In [19]:
for narr in narrCounts:
    print(narr.most_common(10))

[(',', 6283), ('the', 4844), ('.', 3455), ('to', 2713), ('of', 2138), ('i', 2044), ('and', 1945), ('in', 1675), ('a', 1498), ('“', 1212)]
[(',', 2107), ('the', 1593), ('.', 1389), ('to', 1084), ('i', 943), ('of', 855), ('and', 653), ('in', 626), ('a', 569), ('my', 510)]
[(',', 709), ('the', 671), ('.', 412), ('of', 396), ('to', 391), ('i', 326), ('in', 234), ('and', 200), ('that', 164), ('a', 162)]
[(',', 2976), ('the', 2592), ('.', 1931), ('i', 1709), ('to', 1611), ('of', 1232), ('and', 966), ('you', 930), ('in', 865), ('“', 780)]

In [20]:
pd.DataFrame(narrCounts) # NaN 没有数据时

,!,#,&,'',(,),",",.,1,1847,...,–what,–who,–with,–writes,–you,‘,’,“,”,…
0,335,69,2.0,2.0,213,213,6283,3455,NaN,1.0,...,1.0,1.0,NaN,NaN,1.0,48,1191,1212,1212,NaN
1,248,24,2.0,NaN,74,74,2107,1389,1.0,NaN,...,NaN,NaN,1.0,1.0,NaN,6,369,481,481,NaN
2,27,9,NaN,2.0,31,31,709,412,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,2,109,139,139,NaN
3,250,30,NaN,19.0,62,62,2976,1931,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,53,553,780,780,41.0

In [21]:
pd.DataFrame(narrCounts).fillna(0) # 把not number 用0填充

,!,#,&,'',(,),",",.,1,1847,...,–what,–who,–with,–writes,–you,‘,’,“,”,…
0,335,69,2.0,2.0,213,213,6283,3455,0.0,1.0,...,1.0,1.0,0.0,0.0,1.0,48,1191,1212,1212,0.0
1,248,24,2.0,0.0,74,74,2107,1389,1.0,0.0,...,0.0,0.0,1.0,1.0,0.0,6,369,481,481,0.0
2,27,9,0.0,2.0,31,31,709,412,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2,109,139,139,0.0
3,250,30,0.0,19.0,62,62,2976,1931,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,53,553,780,780,41.0

In [22]:
# 添加索引 index
# .T 表格行列转换
pd.DataFrame(narrCounts,index=['bet','clack','bruff','blake']).fillna(0).T

             bet   clack  bruff   blake
!          335.0   248.0   27.0   250.0
#           69.0    24.0    9.0    30.0
&            2.0     2.0    0.0     0.0
''           2.0     0.0    2.0    19.0
(          213.0    74.0   31.0    62.0
)          213.0    74.0   31.0    62.0
,         6283.0  2107.0  709.0  2976.0
.         3455.0  1389.0  412.0  1931.0
1            0.0     1.0    0.0     0.0
1847         1.0     0.0    0.0     0.0
1848         1.0     0.0    0.0     0.0
1848.        0.0     2.0    0.0     0.0
2            0.0     1.0    0.0     0.0
3            0.0     1.0    0.0     0.0
30th         0.0     1.0    0.0     0.0
3rd          0.0     1.0    0.0     0.0
4            0.0     1.0    0.0     0.0
5            0.0     1.0    0.0     0.0
6            0.0     1.0    0.0     0.0
7            0.0     1.0    0.0     0.0
:           74.0    11.0    7.0    31.0
;          420.0   125.0   39.0   217.0
?          411.0   218.0   67.0   354.0
[            0.0     4.0    0.0     2.0
\            2.0     4.0    0.0     0.0
]            0.0     4.0    0.0     2.0
^fn1         0.0     2.0    0.0     0.0
^fn2         0.0     0.0    0.0     2.0
``           4.0     1.0    2.0    62.0
a         1498.0   569.0  162.0   657.0
...          ...     ...    ...     ...
–i           3.0     1.0    0.0     2.0
–if          0.0     1.0    0.0     1.0
–in          0.0     0.0    0.0     1.0
–lights      1.0     0.0    0.0     0.0
–my          1.0     0.0    0.0     0.0
–not         0.0     1.0    0.0     0.0
–on          0.0     1.0    0.0     0.0
–persons     1.0     0.0    0.0     0.0
–that        0.0     1.0    0.0     1.0
–the         1.0     0.0    0.0     1.0
–then        1.0     0.0    0.0     0.0
–there       0.0     0.0    0.0     1.0
–these       0.0     0.0    0.0     1.0
–they        1.0     0.0    0.0     0.0
–this        1.0     0.0    0.0     0.0
–those       0.0     1.0    0.0     0.0
–to          0.0     0.0    0.0     1.0
–was         1.0     1.0    0.0     0.0
–we          1.0     0.0    0.0     0.0
–were        0.0     0.0    0.0     1.0
–what        1.0     0.0    0.0     0.0
–who         1.0     0.0    0.0     0.0
–with        0.0     1.0    0.0     0.0
–writes      0.0     1.0    0.0     0.0
–you         1.0     0.0    1.0     0.0
‘           48.0     6.0    2.0    53.0
’         1191.0   369.0  109.0   553.0
“         1212.0   481.0  139.0   780.0
”         1212.0   481.0  139.0   780.0
…            0.0     0.0    0.0    41.0

[9646 rows x 4 columns]

In [23]:
def cleanAndTokenize(text):
    narrLower=text.lower()
    narrReplaced = narrLower
    for mark in ['-','-','*']:
        narrReplaced=narrReplaced.replace(mark,' ')
    tokens=nltk.word_tokenize(narrReplaced)
    return tokens

In [24]:
allTokens=[cleanAndTokenize(text) for text in allNarrators]

In [25]:
collections.Counter(allTokens[0][:50]).most_common(10)

[('the', 5),
 (',', 4),
 ('of', 3),
 ('#', 3),
 ('first', 2),
 ('in', 2),
 ('period', 1),
 ('loss', 1),
 ('diamond', 1),
 ('(', 1)]

In [26]:
narrCountsDF=pd.DataFrame(narrCounts,index=['bet','clack','bruff','blake']).fillna(0)

In [27]:
betTokens=allTokens[0]

In [28]:
len(betTokens)

95456

In [29]:
totalNumTokensForNarrators=[len(tokensForNarrator) for tokensForNarrator in allTokens]

In [30]:
narrCountsDF['bet']/totalNumTokensForNarrators

bet      0.00001
clack    0.00000
bruff    0.00000
blake    0.00000
Name: bet, dtype: float64

In [31]:
narrCountsDF/totalNumTokensForNarrators

ValueError: Unable to coerce to Series, length must be 9646: given 4

In [ ]:
proportions['blakeness']=proportions['blake']-proportions['average']
proportions['blackeness'].sort_values(ascending=False).head(10)
# quotation mark

## Sentence tokenizing

In [ ]:
print(nltk.sent_tokenize(bet)[16])
# It seems that this tokenize doesn't work well because there are more than one sentences.

In [ ]:
betSents=nltk.sent_tokenize(bet)

In [ ]:
len(betSents)

In [ ]:
def lengthOfSentence(sent):
    tokens=nltk.sent_tokenize(sent)
    return len(tokens)

In [ ]:
def averageSentenceLength(narr):
    sentence=nltk.sent_tokenize(narr)
    return pd.Series([lengthOfSentence(sent) for sent in sentence]).mean()

In [ ]:
averageSentenceLength(bet)

In [ ]:
[averageSentenceLength(narr) for narr in allNarrators]
# Bruff is a lawyer so his sentence is longer.

In [ ]:
withExclamations=[]
withoutExclamations=[]
for sent in betSents:
    if sent.strip().endswith('!'):
        withExclamations.append(sent)
    else:
        withoutExclamations.append(sent)

In [ ]:
len(withExclamations),len(withoutExclamations)